h1, h2, h3 {
    font-family: 'Exo', sans-serif;
}

h2 {
    padding-bottom: 10px;
}

a {
    color: #000000;
}

a:hover {
    text-decoration: none;
    color: #473868;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background: #473868 !important;
}

.nav-pills > li > a:hover {
    background: #FFFFFF !important;
}

.btn-primary {
    background-color: #473868 !important;
}

.btn-primary:hover {
    background-color: #5300AA !important;
}


footer {
    text-align: center;
    font-family: 'Exo', sans-serif;
}

.container-narrow {
    background: url("img/subtle_dots_transparent.png") repeat 0 0;
    margin: 0 auto;
    padding: 30px;
    max-width: 900px;
}

.container-narrow > hr {
    margin: 30px 0;
    border-color: #DDD;
}

.page {
    display: none;
    overflow: auto;
    height: 100%;
    font-family: 'Share Tech Mono', sans-serif;
    padding-bottom: 20px;
}

.center {
    text-align: center;
}

.padding20 {
    padding: 20px;
}
